[Unit]
Description= using rsync to move files from one machine to another in order to backup files on the host machine

[Service]
Type=oneshot
ExecStart=/opt/backup/backup-script

[Install]
WantedBy=multi-user.target
