[Unit]
Description= use curl and wttr to get the weatther everyday at 05:00

[Service]
Type=oneshot
ExecStart=/opt/weather/weather

[Install]
WantedBy=multi-user.target
